[Unit]
Description=Mixin Net Proxy Service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/your/path/proxy proxy --port=8082
WorkingDirectory=/your/path
Type=forking
User=ubuntu
Group=ubuntu
Restart=always
RestartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
